@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emp</title>
     <style>
         body{
            background-image: url('https://static.vecteezy.com/system/resources/previews/003/161/903/non_2x/light-blue-yellow-gradient-blur-background-vector.jpg');
            background-size: cover;
            font-family: 'Consolas', monospace;
            background-repeat : no-repeat;
         }

        .text-center {
            color: white;
            margin-top: 20%;
            text-shadow: 2px 2px 4px #000000;
        }

     </style>
</head>
<body>
    <div class="text-center">
        <h1>EMPLOYEE MANAGEMENT SYSTEM</h1>
    </div>
</body>
</html>
