@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emp</title>
     <style>
         body{
            background-image: url('https://i.ytimg.com/vi/KcqJe9C6hDE/maxresdefault.jpg');
            background-size: cover;

            background-repeat : no-repeat;
         }

     </style>
</head>
<body>
    <div class="text-center">
        <h1>Employee Management System</h1>
    </div>
</body>
</html>
